.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.pyc
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.class
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.log
*.sdf
*.opensdf
*.ipch
*.pyd

FEPCPP/*/Debug/
FEPCPP/*/Release