.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.pyc
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.class
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.log
*.sdf
*.opensdf
*.ipch
*.pyd
*.txt

FEPCPP/Debug/
FEPCPP/Release/
FEPCPP/*/Debug/
FEPCPP/*/Release
Debug/
Release/